<main class="content-wrapper">
    <div class="container pt-4 pb-5 mb-xxl-3">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="pb-2 pb-md-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home-real-estate.html">Accueil</a></li>
                <li class="breadcrumb-item"><a href="listings-real-estate.html">Propriété à louer</a></li>
                <li aria-current="page" class="breadcrumb-item active">Villa de la gloire</li>
            </ol>
        </nav>
        <!-- Image gallery -->
        <div class="row g-3 g-lg-4">
            @for (image of house.images; track image) {
                <div class="col-md-8">
                    <a class="hover-effect-scale hover-effect-opacity position-relative d-flex rounded overflow-hidden"
                        data-gallery="image-gallery" data-glightbox="" href="{{url}}{{image}}">
                        <i class="fi-zoom-in hover-effect-target fs-3 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"></i>
                        <span class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25 opacity-0 z-1"></span>
                        <div class="ratio hover-effect-target bg-body-tertiary rounded" style="--fn-aspect-ratio: calc(450 / 856 * 100%)">
                            <img alt="Image" src="{{url}}{{image}}" />
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="hover-effect-scale hover-effect-opacity position-relative d-flex rounded overflow-hidden"
                        data-gallery="image-gallery" data-glightbox="" href="{{url}}{{image}}">
                        <i class="fi-zoom-in hover-effect-target fs-3 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"></i>
                        <span class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25 opacity-0 z-1"></span>
                        <div class="ratio hover-effect-target bg-body-tertiary rounded" style="--fn-aspect-ratio: calc(450 / 856 * 100%)">
                            <img alt="Image" src="{{url}}{{image}}" />
                        </div>
                    </a>
                </div>
            }
        </div>
        <!-- Listing details -->
        <div class="row pt-4 pb-2 pb-sm-3 pb-md-4 py-lg-5 mt-sm-2 mt-lg-0">
            <!-- Content sections -->
            <div class="col-lg-8 col-xl-7 pb-3 pb-sm-0 mb-4 mb-sm-5 mb-lg-0">
                <!-- Badges + Sharing and wishlist buttons -->
                <div class="d-flex align-items-center justify-content-between gap-4 mb-3">
                    <div class="d-flex gap-2">
                        <span class="badge text-bg-info d-inline-flex align-items-center">
                            Vérifié
                            <i class="fi-shield ms-1"></i>
                        </span>
                        <span class="badge text-bg-primary">Nouveau</span>
                    </div>
                    <div class="d-flex gap-2">
                        <div class="dropdown" data-bs-custom-class="tooltip-sm" data-bs-original-title="Partager"
                            data-bs-toggle="tooltip">
                            <button aria-expanded="false" aria-haspopup="true" aria-label="Partager"
                                class="btn btn-icon btn-secondary bg-transparent border-0 animate-scale"
                                data-bs-toggle="dropdown" type="button">
                                <i class="fi-share-2 animate-target fs-base"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" style="--fn-dropdown-min-width: 9.5rem">
                                <li>
                                    <a class="dropdown-item" href="#!">
                                        <i class="fi-facebook fs-base me-2"></i>
                                        Facebook
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#!">
                                        <i class="fi-instagram fs-base me-2"></i>
                                        Instagram
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fi-linkedin fs-base me-2"></i>
                                        LinkedIn
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button aria-label="Favoris"
                            class="btn btn-icon btn-secondary bg-transparent border-0 animate-pulse"
                            data-bs-custom-class="tooltip-sm" data-bs-original-title="Favoris" data-bs-toggle="tooltip"
                            type="button">
                            <i class="fi-heart animate-target fs-base"></i>
                        </button>
                    </div>
                </div>
                <!-- Price + Address + Facilities -->
                <div class="h3 pb-1 mb-2">{{house.prix | number}} FCFA</div>
                <p class="fs-sm pb-1 mb-2">{{house.adresse}} {{house.ville}} {{house.district}}</p>
                <div class="d-flex gap-2 mb-4">
                    <div class="d-flex align-items-center fs-sm gap-1 me-2">
                        {{house.chambres}}<i class="fi-bed-single fs-base text-secondary-emphasis"></i>
                    </div>
                    <div class="d-flex align-items-center fs-sm gap-1 me-2">
                        {{house.sallesdebain}}<i class="fi-shower fs-base text-secondary-emphasis"></i>
                    </div>
                    <div class="d-flex align-items-center fs-sm gap-1 me-2">
                        {{house.agarage ? 1 : 0}}<i class="fi-car-garage fs-base text-secondary-emphasis"></i>
                    </div>
                    <div class="fs-sm">{{house.surface}} m²</div>
                </div>
                <!-- Info message (Alert) -->
                <div class="alert d-flex alert-secondary fs-sm m-0" role="alert">
                    <i class="fi-info fs-lg pe-1 me-2"></i>
                    <div>Nous estimons que cette maison se vendra plus rapidement que 94% des maisons à proximité.</div>
                </div>
                <!-- About -->
                <h2 class="h5 pt-4 pt-sm-5 mt-3 mt-sm-0">À propos</h2>
                <p class="fs-sm">{{house.description}}</p>
                <!-- General info -->
                <h2 class="h5 pt-4 pt-sm-5 mt-3 mt-sm-0">Informations générales</h2>
                <table class="table table-borderless w-auto fs-sm">
                    <tbody>
                        <tr>
                            <th class="py-2 ps-0 pe-3" scope="row">Type de propriété</th>
                            <td class="text-body py-2">{{house.type}}</td>
                        </tr>
                        <tr>
                            <th class="py-2 ps-0 pe-3" scope="row">Année de construction</th>
                            <td class="text-body py-2">{{house.anneeconstruction}}</td>
                        </tr>
                        <tr>
                            <th class="py-2 ps-0 pe-3" scope="row">Surface habitable</th>
                            <td class="text-body py-2">{{house.surface}} m²</td>
                        </tr>
                        <tr>
                            <th class="py-2 ps-0 pe-3" scope="row">Chambres</th>
                            <td class="text-body py-2">{{house.chambres}}</td>
                        </tr>
                        <tr>
                            <th class="py-2 ps-0 pe-3" scope="row">Salles de bain</th>
                            <td class="text-body py-2">{{house.sallesdebain}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Amenities -->
                <h2 class="h5 pt-4 pt-sm-5 mt-3 mt-sm-0">Équipements</h2>
                <div class="row row-cols-2 row-cols-sm-3 fs-sm gy-3">
                    <div class="col d-flex align-items-center" *ngIf="house.apiscine">
                        <i class="fi-swimming-pool fs-lg me-2"></i>
                        Piscine
                    </div>
                    <div class="col d-flex align-items-center" *ngIf="house.agarage">
                        <i class="fi-parking fs-lg me-2"></i>
                        Garage
                    </div>
                    <div class="col d-flex align-items-center" *ngIf="house.ajardin">
                        <i class="fi-tree fs-lg me-2"></i>
                        Jardin
                    </div>
                </div>
                <!-- Location -->
                <h2 class="h5 pt-4 pt-sm-5 mt-3 mt-sm-0">Localisation</h2>
                <div class="overflow-x-auto pb-3 mb-2">
                    <ul class="nav nav-pills nav-justified flex-nowrap gap-2">
                        <li class="nav-item me-1">
                            <a aria-current="page" class="nav-link text-nowrap active" href="#!">
                                <i class="fi-tram fs-base me-2 ms-n1"></i>
                                Transport
                            </a>
                        </li>
                        <li class="nav-item me-1">
                            <a class="nav-link text-nowrap" href="#!">
                                <i class="fi-graduation-cap fs-base me-2 ms-n1"></i>
                                Éducation
                            </a>
                        </li>
                        <li class="nav-item me-1">
                            <a class="nav-link text-nowrap" href="#!">
                                <i class="fi-shopping-bag fs-base me-2 ms-n1"></i>
                                Shopping
                            </a>
                        </li>
                        <li class="nav-item me-1">
                            <a class="nav-link text-nowrap" href="#!">
                                <i class="fi-bowl-food fs-base me-2 ms-n1"></i>
                                Restauration
                            </a>
                        </li>
                        <li class="nav-item me-1">
                            <a class="nav-link text-nowrap" href="#!">
                                <i class="fi-tree fs-base me-2 ms-n1"></i>
                                Parcs
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Google map -->
                <iframe allowfullscreen="" class="border rounded" height="350" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2311.3724100313693!2d-73.82417211551919!3d42.62335692577899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dde016efd1fe73%3A0x6861561b35064fe9!2sGlendale%20Ave!5e0!3m2!1sen!2suk!4v1726842151281!5m2!1sen!2suk"
                    style="border: 0" title="Map" width="600"></iframe>
            </div>
            <!-- Sidebar -->
            <aside class="col-lg-4 offset-xl-1">
                <div class="d-none d-lg-block" style="margin-top: -105px"></div>
                <div class="sticky-lg-top">
                    <div class="d-none d-lg-block" style="height: 105px"></div>
                    <div class="bg-body-tertiary rounded p-4">
                        <div class="p-sm-2 p-lg-0 p-xl-2">
                            <button class="btn btn-lg btn-primary w-100" data-bs-target="#tourBooking"
                                data-bs-toggle="modal" type="button">Planifier une visite</button>
                            <div class="fs-xs text-center pt-1 pb-2 my-2">C'est gratuit, annuler à tout moment</div>
                            <div class="d-flex align-items-center mb-3">
                                <hr class="w-100 m-0" />
                                <div class="mt-n1 px-3">ou</div>
                                <hr class="w-100 m-0" />
                            </div>
                            <button class="btn btn-lg btn-outline-dark w-100" data-bs-target="#contactForm"
                                data-bs-toggle="modal" type="button">Envoyer un email</button>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</main>